################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TicketSellingModule/.vs/TicketSellingModule.slnx
[Bb]in/
[Oo]bj/
*.user
