################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TicketSellingModule/.vs/TicketSellingModule.slnx
/TicketSellingModule/bin/x64/Debug/net8.0-windows10.0.19041.0/win-x64
